<div class="card_wrapper">
  <div class="card" *ngFor="let w of weatherData">
    <div class="city">
      {{city}}, {{region}}, {{country}}
    </div>
    <span>
      <span class="data">Température: </span>
      <span class="data_detail">{{w.current_condition[0].temp_C}}℃ (ressentie
        {{w.current_condition[0].FeelsLikeC}}℃)</span>
    </span>
    <div class="dropdown-divider"></div>
    <span>
      <span class="data">Conditions: </span>
      <span class="data_detail">{{w.current_condition[0].weatherDesc[0].value}}</span>
    </span>
    <div class="dropdown-divider"></div>
    <span>
      <span class="data">Vents: </span>
      <span class="data_detail">{{w.current_condition[0].windspeedKmph}}Km/h
        {{w.current_condition[0].winddir16Point}}</span>
    </span>
    <div class="dropdown-divider"></div>
    <span>
      <span class="data">Visibilité: </span>
      <span class="data_detail">{{w.current_condition[0].visibility}} km</span>
    </span>
    <div class="dropdown-divider"></div>
    <span>
      <span class="data">UV: </span>
      <span class="data_detail">{{w.current_condition[0].uvIndex}}</span>
    </span>
    <div class="dropdown-divider"></div>
    <span>
      <span class="data">Humidité: </span>
      <span class="data_detail">{{w.current_condition[0].humidity}}%</span>
    </span>
    <div class="dropdown-divider"></div>
    <span>
      <span class="data">Précipitations: </span>
      <span class="data_detail">{{w.current_condition[0].precipMM}} mm</span>
    </span>
    <div class="bottom_wrapper">
      <div class="observation">Dernière observation: {{w.current_condition[0].localObsDateTime}}</div>
      <div class="observation">(heure locale)</div>
    </div>
  </div>

  <div class="card_hourly_wrapper">
    <div class="card_hourly" *ngFor="let w of weatherData">
      <div class="city">
        {{city}}, {{region}}, {{country}} -- HOURLY
      </div>
      <div class="hourly_wrapper">
        <div class="hourly_info">
          <span class="data">Time: </span>
          <div class="dropdown-divider"></div>
          <span class="data">Température: </span>
          <div class="dropdown-divider"></div>
          <span class="data">FeelsLike: </span>
          <div class="dropdown-divider"></div>
          <span class="data">Condition: </span>
          <div class="dropdown-divider"></div>
          <span class="data">Vents: </span>
          <div class="dropdown-divider"></div>
          <span class="data">Précipitations: </span>
          <div class="dropdown-divider"></div>
        </div>

        <div class="hourly_details" *ngFor="let city of w.weather[0].hourly">
          <span class="data_detail">{{city.time}}</span>
          <div class="dropdown-divider"></div>
          <span class="data_detail">{{city.tempC}}℃</span>
          <div class="dropdown-divider"></div>
          <span class="data_detail">{{city.FeelsLikeC}}℃</span>
          <div class="dropdown-divider"></div>
          <span class="data_detail">{{city.weatherDesc[0].value}}</span>
          <div class="dropdown-divider"></div>
          <span class="data_detail">{{city.windspeedKmph}}Km/h
            {{city.winddir16Point}}</span>
          <div class="dropdown-divider"></div>
          <span class="data_detail">{{city.precipMM}} mm</span>
          <div class="dropdown-divider"></div>
        </div>
      </div>
      <div class="bottom_wrapper">
        <div class="observation">Dernière observation: {{w.current_condition[0].localObsDateTime}}</div>
        <div class="observation">(heure locale)</div>
      </div>
    </div>
  </div>
</div>
