<header class="header">
  <a href="/weather">
    <h1 class="head"><img src="../../assets/logo.svg" class="img bg-image hover-overlay ripple shadow-1-strong rounded" /> MétéoWiki</h1>
  </a>

  <div class="input-group mb-3">
    <input type="text" class="form-control" placeholder="    Recherche..." aria-label="Recipient's username"
      aria-describedby="button-addon2" [(ngModel)]="valeur">
    <button class="btn btn-info" (click)="submitFunc()" type="button" id="button-addon2">Submit</button>
  </div>

</header>


<ul class="nav nav-tabs justify-content-center options_wrapper">
  <li class="nav-item">
    <a class="nav-link" routerLink="/weather/now">Condition actuelle</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/weather/hourly">Prochaines heures</a>
  </li>
</ul>



